


header {
    z-index: 100;
}


.description {
   height: 25px;
   overflow: hidden;
   transition: height .3s ease-in .3s;
}

.description:hover {
    height: 80px;
}



.imagen-fondo {
    background:  url(../img/todos-electrodomesticos.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
    color: white;
    margin-top: -20px; /* Ajusta este valor según sea necesario */
  }



  /* carrito */

  .carrito {
    min-height:  80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%
  }

  .table__productos {
    display: flex;
  }

  .table__productos {
    display: flex;
  }

  .table__productos > img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right:  20px;
  }


  .table__cantidad > input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
  }